
<!--<div class="thumbnail"><p>crib-card works!</p></div>-->
<div class="thumbnail">
  <img src="{{ video['preview_url'] }}" alt="crib thumbnail">
<!--  <div>{{video.title}}</div>-->
  <a href="{{ video['video_url'] }}">
    <div class="video-title title-truncate m-t-5">{{video.title}} </div>
  </a>
  <div class="video-title title-truncate m-t-5">{{ getTimeDiff(video.addtime) }} 天 前</div>
  <div>点击数：{{ video.viewnumber}}</div>
  <div> {{ getPercentage(video.likes, video.dislikes)}}%</div>
<div>
  <button>收藏</button>
</div>
</div>

